<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="Comment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
          <td mat-cell *matCellDef="let row">{{ row.comment }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Score">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.nbOfStars == 1">
              <i class="fas fa-star" style="color: orange"></i>
            </div>
            <div *ngIf="row.nbOfStars == 2">
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
            </div>
            <div *ngIf="row.nbOfStars == 3">
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
            </div>
            <div *ngIf="row.nbOfStars == 4">
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
            </div>
            <div *ngIf="row.nbOfStars == 5">
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
              <i class="fas fa-star" style="color: orange"></i>
            </div>
          </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="Employee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
          <td mat-cell *matCellDef="let row">
            {{ row.employee.name + " " + row.employee.lastName }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of ratings"
      ></mat-paginator>
    </div>
  </div>
</div>
