<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>

<div class="container header"></div>
<h1>List of my Favorite events</h1>
<div class="flex-container">
  <mat-card *ngFor="let favorite of favoriteEvents" class="example-card">
    <mat-card-header>
      <mat-card-title
        style="
          font-family: 'Gabriola', sans-serif;
          font-weight: bold;
          font-size: 30px;
        "
        >{{ favorite.event.title }}</mat-card-title
      >
    </mat-card-header>
    <img
      class="image"
      mat-card-image
      [src]="getImage(favorite.event.image)"
      [alt]="favorite.event.image.name"
    />
    <mat-card-content>
      <p>
        {{ favorite.event.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="removeFavorite(favorite.favoriteId)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
