<h3>{{ event.title }}</h3>
<table>
    <tr>
        <td><mat-icon>date_range</mat-icon></td>
        <td><mat-icon>location_on</mat-icon></td>
        <td><mat-icon>watch_later</mat-icon></td>
        <td><mat-icon>description</mat-icon></td>
        <td><mat-icon>category</mat-icon></td>
    </tr>

    <tr>
        <td>Date</td>
        <td>Location</td>
        <td>Duration</td>
        <td>Description</td>
        <td>Category</td>
    </tr>

    <tr>
        <td> {{ event.startDate | date }} </td>
        <td> {{ event.location }} </td>
        <td> {{ event.duration }} </td>
        <td> {{ event.description }} </td>
        <td> {{ event.category.name }} </td>
    </tr>
  </table>
