<div style="margin: 1%">
  <div class="bar" [chart]="oneLineBar"></div>
</div>

<div class="row" style="margin: 1%">
  <div class="col-6">
    <div class="pie" [chart]="chart"></div>
  </div>
  <div class="col-6">
    <div class="bar" [chart]="barChart"></div>
  </div>
</div>

<div class="row" style="margin: 1%">
  <div class="col-12">
    <div class="spline" [chart]="areaSplineChart"></div>
  </div>
</div>

<!--div width="400" height="400">
  <canvas id="canvas">{{ charts }}</canvas>
</div>-->
